@keyframes ubicacionMapa2 {
 0% {
  translate: 0% -20%;
 }

 68% {
  translate: -10.5% -23%;
 }

 100% {
  translate: -12.5% -27%;
 }
}

@keyframes ubicacionMapa2Mobile {
 0% {
  translate: -4% -11%;
 }

 50% {
  translate: -11% -15%;
 }

 100% {
  translate: -17% -19%;
 }
}


@keyframes ubicacionMapa3 {
 0% {
  translate: -12.5% -27%;
 }

 5% {
  translate: -13.5% -30%;
 }

 17% {
  translate: -16.5% -39%;
 }

 37% {
  translate: -21.5% -50%;
 }

 75% {
  translate: -34.5% -48%;
 }

 100% {
  translate: -42.5% -57%;
 }
}

@keyframes ubicacionMapa3Mobile {
 0% {
  translate: -17% -19%;
 }

 37% {
  translate: -26% -43%;
 }

 75% {
  translate: -39% -42%;
 }

 100% {
  translate: -45.5% -51%;
 }
}

@keyframes ubicacionMapa4 {
 0% {
  translate: -42.5% -57%;
 }

 33% {
  translate: -50.5% -68%;
 }

 100% {
  translate: -67.5% -72%;
 }
}

@keyframes ubicacionMapa4Mobile {
 0% {
  translate: -45.5% -51%;
 }

 37% {
  translate: -55.5% -63%;
 }

 100% {
  translate: -71.5% -63%;
 }
}

@keyframes ubicacionMapa5 {
 0% {
  translate: -67.5% -72%;
 }

 100% {
  translate: -75.5% -50%;
 }
}

@keyframes ubicacionMapa5Mobile {
 0% {
  translate: -71.5% -63%;
 }

 100% {
  translate: -79.5% -48%;
 }
}

@keyframes ubicacionMapa6 {
 0% {
  translate: -75.5% -50%;
 }

 100% {
  translate: -81.5% -18%;
 }
}

@keyframes ubicacionMapa6Mobile {
 0% {
  translate: -79.5% -48%;
 }

 100% {
  translate: -85% -11%;
 }
}


@keyframes ubicacionMapa7 {
 0% {
  translate: -81.5% -18%;
 }

 100% {
  translate: -81.5% -5%;
 }
}

@keyframes ubicacionMapa7Mobile {
 0% {
  translate: -85% -11%;
 }

 100% {
  translate: -87% -2%;
 }
}

@keyframes ubicacionMapa8 {
 0% {
  translate: -81.5% -5%;
 }

 100% {
  translate: -81.5% -6%;
 }
}

@keyframes ubicacionMapa8Mobile {
 0% {
  translate: -87% -2%;
 }

 100% {
  translate: -87% 0%;
 }
}